<p>
  [SCM] State change triggered by commit of repository {{ repository.namespace }}/{{ repository.name }}<br/><br/>
  {{ content.description }}<br/><br/>
  <strong>Author:</strong> {{ author }}<br/>
  <strong>Committer:</strong> {{ principal }}<br/>
  <a href="{{ link }}" rel="noreferrer" target="_blank">Changes</a>
</p>
