<p>
  [SCM] Issue referenced by commit of repository {{ repository.namespace }}/{{ repository.name }}<br/><br/>
  {{ content.description }}<br/><br/>
  <strong>Author:</strong> {{ author }}<br/>
  <strong>Committer:</strong> {{ principal }}<br/>
  <a href="{{ link }}" target="_blank" rel="noreferrer">Changes</a>
</p>
