<p>
  [SCM] State change triggered by commit of repository {{ repository.namespace }}/{{ repository.name }}<br/><br/>
  {{ content.description }}<br/><br/>
  <strong>Author:</strong> {{ author }}<br/>
  {{#contributors.Committed-by}}
    <strong>Committed by:</strong> {{ . }}<br/>
  {{/contributors.Committed-by}}
  <strong>Pushed by:</strong> {{ principal }}<br/>
  <a href="{{ link }}" rel="noreferrer" target="_blank">Changes</a>
</p>
