<p>
  [SCM] Pull request <a href="{{link}}" target="_blank" rel="noreferrer">#{{ id }}</a> of {{ repository.namespace }}/{{ repository.name }} references this issue<br/><br/>
  <strong>Title:</strong> {{ content.title }}<br/>
  <strong>Author:</strong> {{ author }}<br/><br/>
  <a href="{{ link }}" target="_blank" rel="noreferrer">Go to pull request</a>
</p>
