<p>
  [SCM] State change triggered by merge pull request <a href="{{link}}" rel="noreferrer" target="_blank">#{{ id }}</a> of {{ repository.namespace }}/{{ repository.name }}<br/><br/>
  <strong>Title:</strong> {{ content.title }}<br/>
  <strong>Author:</strong> {{ author }}<br/>
  <strong>Merger:</strong> {{ principal }}<br/><br/>
  <a href="{{ link }}" rel="noreferrer" target="_blank">Go to pull request</a>
</p>
