[SCM] State change triggered by commit of repository {{ repository.namespace }}/{{ repository.name }}

{{ content.description }}

**Author:** {{ author }}
{{#contributors.Committed-by}}
**Committed by:** {{ . }}
{{/contributors.Committed-by}}
{{#principal}}
**Pushed by:** {{ principal }}
{{/principal}}

"Changes":{{ link }}
