[SCM] State change triggered by commit of repository {{ repository.namespace }}/{{ repository.name }}

{{ content.description }}

**Author:** {{ author }}
{{#principal}}
**Committer:** {{ principal }}
{{/principal}}

[Changes]({{ link }})
