[SCM] State change triggered by merge pull request [#{{ id }}]({{link}}) of {{ repository.namespace }}/{{ repository.name }}

**Title:** {{ content.title }}
**Author:** {{ author }}
{{#principal}}
**Merger:** {{ principal }}
{{/principal}}

[Go to pull request]({{ link }})
