[SCM] PR {{pullRequest.id}} ‒ {{pullRequest.title}}

*Repository:* {{repository.namespace}}/{{repository.name}}
{{#author}}
*Author:* {{author}}
{{/author}}
{{#pullRequest.description}}
*Description:* {{pullRequest.description}}
{{/pullRequest.description}}

[Pull Request]({{pullRequestUrl}})
