[SCM] PR {{pullRequest.id}} ‒ {{pullRequest.title}}

*Repository:* {{repository.namespace}}/{{repository.name}}
{{#author}}
*Author:* {{author}}
{{/author}}
{{#comment.description}}
*Description:* {{comment.description}}
{{/comment.description}}

[Pull Request]({{commentUrl}})
