[SCM] Pull request [#{{ id }}]({{link}}) of {{ repository.namespace }}/{{ repository.name }} references this issue

**Title:** {{ content.title }}
**Author:** {{ author }}

[Go to pull request]({{ link }})
